programs:
    forever_process:
        cmd: "python3 pro_forever.py"
        numprocs: 1
        umask: 022
        workingdir: /target_workdir
        autostart: true
        autorestart: true
        exitcodes:
        - 666
        - 777
        startretries: 3
        starttime: 5
        stopsignal: SIGINT
        stoptime: 10
        stdout: /target_workdir/pro_forever.stdout
        stderr: /target_workdir/pro_forever.stderr
        env:
        STARTED_BY: taskmaster
        ANSWER: 42